body {
  font-family: "Roboto", "Tahoma", sans-serif;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------HEADER---------- */

.main-nav {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-navi {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-logo span {
  color: #212121;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item {
  margin-right: 50px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.header-link:hover {
  color: #2196f3;
}

.header-link:focus {
  color: #2196f3;
}

.header-list-contacts {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover {
  color: #2196f3;
}

.header-mail:focus {
  color: #2196f3;
}

.header-tel:hover {
  color: #2196f3;
}

.header-tel:focus {
  color: #2196f3;
}

/* ----------HERO---------- */

.hero {
  text-align: center;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img.17.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}

.hero-top-text {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
}

/* ----------MAIN---------- */

.main-list {
  display: flex;
}

.main-item {
  width: 270px;
}

.main-item:not(:last-child) {
  margin-right: 30px;
}

.main {
  padding-top: 94px;
  padding-bottom: 0;
}

.main-top-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.main-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ----------PICTURE---------- */

.picture {
  padding-top: 94px;
  padding-bottom: 94px;
}

.picture-list {
  display: flex;
}

.picture-item {
  margin-right: 30px;
}

.picture-item:last-child {
  margin-right: 0;
}

.picture-top-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* ----------AUTHOR---------- */

.author-list {
  display: flex;
}

.author-item {
  margin-right: 30px;
}

.author-item:last-child {
  margin-right: 0;
}

.author {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.author-top-text {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.author-desc {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.author-text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.author-soc-list {
  display: flex;
  justify-content: center;
}

.author-soc-item {
  margin-right: 10px;
}

.author-soc-item:last-child {
  margin-right: 0;
}

.author-soc-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-soc-icon {
  fill: #afb1b8;
}

.author-soc-link:hover {
  background-color: #2196f3;
}

.author-soc-link:hover .author-soc-icon {
  fill: #ffffff;
}

/* ----------FOOTER---------- */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-logo span {
  color: #ffffff;
}

.footer-contacts {
  font-style: normal;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

/* ----------PORTFOLIO---------- */

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.section-conteiner {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
  flex-wrap: wrap;
}

.projects-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
}

.projects-content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.button-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  display: inline-block;
  align-items: center;
  border-radius: 4px;
}

.button-btn:hover {
  background-color: #2196f3;
}

.button-btn:focus {
  background-color: #2196f3;
}

.projects-top-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  margin-bottom: 4px;
}

.projects-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.current {
  color: rgba(33, 150, 243, 1);
}
